/* path,circle{
    stroke: white;
    fill: none;
}
circle{
    stroke: white;
    fill: white;
} */
body{
    background-color: rgb(247,247,247);
    background-color: black; 
    color: #4a4b63;
   
}

div.text{
    text-align: start; 
    width: 10px;
}
.text-outer div{
    margin-left: 20px;

}
.text-inner div{
    
}
.link{
    fill-opacity: 0;
    stroke-width: .125vmin;
    stroke-dasharray: 300px;
    stroke-dashoffset: 600px;
    animation: draw 1s  linear ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.field-tick-outer path{
    opacity: 0;
    animation: disp .9s linear ;
    animation-fill-mode: forwards;
}
.field-tick-inner:hover{
    cursor: pointer;
}

.imagecontainer{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
}
.text-outer{
    opacity: 0;
    animation: textopacity 1s linear;
    animation-fill-mode: forwards;
}
.textHolder{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    color: white;

    font-size: 20px;

}


/* for dom */
.masterContainer{
    display: flex;
}

.masterContainer > *{
    flex: 1;
}
.svgMasterContainer{
}
.svgContainer{
    width: 550px;
    height: 500px;
    text-align: center;
    position: relative;
}
.centerImageholder{
    border-radius: 50%;
    /* background: green; */
   

}
img{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
}
.centerPic{
    position: absolute;
    top: 38%;
    left: 39%;
    border-radius: 50%;
    
}
.svgCard{
    font-size: 3em;
}



@keyframes draw {
    0% {
        stroke-dashoffset: 250;
    }
    
    50%{
        
        stroke-dashoffset: 400;
    }
    75%{
        
        stroke-dashoffset: 500;
    }
    90%{
        
        stroke-dashoffset: 550;
    }

100%{
        stroke-dashoffset: 600;
    
    }
  }
@keyframes disp {
    0% {
        opacity: 0;
    }
  90%{
    opacity: 0;
  }

100%{
       opacity: 1;
    
    }
  }
@keyframes textopacity {
    0% {
        opacity: 0;
    }
  90%{
    opacity: 0;
  }

100%{
       opacity: 1;
    
    }
  }
